<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed.xml" />
  <link rel="icon" href="{{ site.faviconPath }}" type="image/png" />
  <link rel="manifest" href="/images/meta/manifest.json">
  <link rel="apple-touch-icon" href="/images/meta/icon-192x192.png">
  <meta name="theme-color" content="#4B8488"/>

  {% include "partials/global/meta-info.njk" %}

  <!-- Preload -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato&family=MonteCarlo&family=Nothing+You+Could+Do&display=swap" rel="stylesheet">

  <style>{% include "assets/css/gallery.css" %}</style>

  {% block head %}
  {% endblock %}
</head>
<body>
  {% block content %}


    <div class="o-flow  o-flow--large">
      <section class="o-retain  o-retain--desk">
        <div class="c-masthead  |  o-flow">
          <h1>{{title | safe}}</h1>
          <div>
            {{ content | safe}}
            <time datetime="{{ date | w3DateFilter }}" itemprop="datePublished">{{ date | dateFilter }}</time>
          </div>
        </masthead>
      </section>

      <section class="o-retain  o-retain--desk">
        <div class="c-player  |  o-aspect-ratio">
          <video src="{{videoUrl}}" controls poster="/images/married/images/IMG_5976.jpg" />
        </div>
      </section>

      <section class="o-retain  o-retain--desk  o-content">
        <ul class="c-gallery  |  o-mesh  o-mesh--flow  o-mesh--gap-base">
          {% for image in collections[galleryKey] %}
          <li class="c-gallery__item">
            <a href="{{image.relative}}" class="o-aspect-ratio" target="_blank" rel="noopener">
              {# {% thumb image.full, "", "c-gallery__thumb" %} #}
              <img class="c-gallery__thumb" src="{{image.relative}}" alt="" />
            </a>
          </li>
          {% endfor %}
        </ul>
      </section>
    </div>





  {% endblock content %}

  {% block foot %}
  {% endblock %}

</body>
</html>
