/*  =========================================================================
    components.og
/   ========================================================================= */

/*  Use/Forward rules
    `@use` or `@forward` everything you need here from other files.
    These can include variables, mixins & other includes.
/   ========================================================================= */

@use '../../../../node_modules/@supple-kit/supple-css/settings/defaults';
@use '../../../../node_modules/@supple-kit/supple-css/tools/rem';



/*  Variables
/   ========================================================================= */



/*  Functions/Mixins
/   ========================================================================= */



/*  Module
/   ========================================================================= */

.c-og,
.c-og__wrap-intro {
  display: flex;
  flex-direction: column;
}

.c-og {
  min-block-size: 100vh;
}

.c-og__wrap-intro {
  flex: auto;
  block-size: 0%;
  justify-content: center;

  > * {
    margin-block-end: 0 !important;
  }
}

.c-og__wrap-avatar {
  inline-size: rem.convert(defaults.$baseline * 7);
}

.c-og__avatar {
  border-radius: 50%;
  background-size: cover;
}
